USE_CACHE=true
CACHE_TYPE=file
REDIS_CONNECTION_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_UNRESTRICTED_ACCESS_ROLE_ID=
DISCORD_REDIRECT_URI=http://localhost:5042/auth/discord/callback
JWT_SECRET=
COOKIE_SECURE=true #set to false to work on http dev server
